{% load unfold %}

<div class="flex flex-col gap-8">
    {% if perms.order.view_order %}
        {% component "unfold/components/card.html" with title=_("Статистика заказов") %}
            {% component "order/components/warning_banner.html" with component_class="WarningBanner" %}{% endcomponent %}
            {% component "order/components/status_banner.html" with component_class="StatusBanner" %}{% endcomponent %}
        {% endcomponent %}
    {% endif %}

    {% if perms.call_center.view_invoice %}
        {% component "unfold/components/card.html" with title=_("Статистика call-center") %}
            {% component "call_center/components/solution_banner.html" with component_class="SolutionBanner" %}{% endcomponent %}
        {% endcomponent %}
    {% endif %}

    {% if perms.metering.view_metering %}
        {% component "unfold/components/card.html" with title=_("Статистика замери") %}
            {% component "metering/components/metering_status_banner.html" with component_class="MeteringStatusBanner" %}{% endcomponent %}
        {% endcomponent %}
    {% endif %}
</div>