{% extends 'admin/index.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <meta http-equiv="refresh" content="1800">
    {% if plausible_domain %}
        <script defer data-domain="{{ plausible_domain }}" src="https://plausible.io/js/script.js"></script>
    {% endif %}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/messages.html" %}

    {% component "unfold/components/container.html" with class="flex flex-col gap-8" %}
        <div class="flex flex-col gap-4 sm:flex-row justify-between">
            {% component "unfold/components/navigation.html" with items=navigation class="overflow-x-auto" %}{% endcomponent %}

            {% component "dashboard_filter.html" with class="sm:ml-auto" items=filters %}{% endcomponent %}
        </div>
        {% if current_navigation %}
            {% include current_navigation.html_file %}
        {% endif %}
    {% endcomponent %}
{% endblock %}