{% extends "admin/base.html" %}

{% block content %}
<h3>Открывается админка...</h3>
<form id="twa-form" method="POST" action="/">
    {% csrf_token %}
    <input type="hidden" name="initData" id="initDataInput">
</form>
<script src="{% static 'core/js/telegram.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        try {
            const tg = window.Telegram.WebApp;
            if (!tg || !tg.initData) {
                window.location.href = '/admin/'
                return;
            }

            // Редиректим на Django endpoint с initData в query
            document.getElementById("initDataInput").value = tg.initData;
            document.getElementById("twa-form").submit();
        } catch (e) {
            document.body.innerHTML = `<p>Ошибка: initData не найдено: ${e}</p>`;
        }
    });
</script>
{% endblock %}
