{% extends "admin/base.html" %}

{% block content %}
<h3>Открывается админка...</h3>
<script src="https://telegram.org/js/telegram-web-app.js?56"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        try {
            const tg = window.Telegram.WebApp;
            if (!tg || !tg.initData) {
                document.body.innerHTML = "<p>Ошибка: initData не найдено</p>";
                return;
            }

            // Берём initData
            const initData = tg.initData;

            // Редиректим на Django endpoint с initData в query
            window.location.href = "/oauth/twa/?" + initData;
        } catch (e) {
            document.body.innerHTML = `<p>Ошибка: initData не найдено: ${e}</p>`;
        }

    });
</script>
{% endblock %}
