{% load unfold %}
<div class="flex flex-col gap-4 sm:flex-row justify-between mb-3">
    <div></div>
    {% component "accounting/currency_filter.html" with component_class="CurrenciesComponent" class="sm:ml-auto" %}{% endcomponent %}
</div>
<div class="grid grid-cols-7 gap-4 mb-4">
    <div class="col-span-7 lg:col-span-2 h-[4500px]">
        {% component "accounting/progress.html" with component_class="IncomeProgressComponent" %}{% endcomponent %}
    </div>
    <div class="col-span-7 lg:col-span-5 h-[4500px]">
        {% component "accounting/line-chart.html" with component_class="IncomeLineChartComponent" %}{% endcomponent %}
    </div>
</div>
